<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UpdateDateis</key>
	<string>8/30/10</string>
	<key>Entire Routes</key>
	<array>
		<dict>
			<key>summer</key>
			<string>1</string>
			<key>centerCoordinate</key>
			<string>33.644482;-117.830901;0.0162872;0.0162872</string>
			<key>lineColor</key>
			<string>77 122 172</string>
			<key>2dLineName</key>
			<string>summer_route</string>
			<key>selected</key>
			<string>0</string>
			<key>routeName</key>
			<string>VDC/VDCN Summer</string>
			<key>value</key>
			<string>306</string>
			<key>stops</key>
			<array>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.649129;-117.839334</string>
					<key>value</key>
					<string>16958</string>
					<key>name</key>
					<string>University Center</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.648209;-117.830118</string>
					<key>value</key>
					<string>16901</string>
					<key>name</key>
					<string>California Ave at Campus</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647065;-117.825000</string>
					<key>value</key>
					<string>16911</string>
					<key>name</key>
					<string>VDCN(DO)</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.646962;-117.824898</string>
					<key>value</key>
					<string>89459</string>
					<key>name</key>
					<string>AV/VDCN to VDC(PU)</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.643711;-117.823831</string>
					<key>value</key>
					<string>16917</string>
					<key>name</key>
					<string>VDC/VDCN (DO)</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.640889;-117.823026</string>
					<key>value</key>
					<string>43338</string>
					<key>name</key>
					<string>VDC STOP 1</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.639201;-117.824062</string>
					<key>value</key>
					<string>43343</string>
					<key>name</key>
					<string>VDC STOP 2</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.638133;-117.825558</string>
					<key>value</key>
					<string>43349</string>
					<key>name</key>
					<string>VDC STOP 3</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.643617;-117.823665</string>
					<key>value</key>
					<string>16932</string>
					<key>name</key>
					<string>VDC/VDCN</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.645739;-117.823997</string>
					<key>value</key>
					<string>16935</string>
					<key>name</key>
					<string>VDCN Stop 1</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.646927;-117.824668</string>
					<key>value</key>
					<string>89499</string>
					<key>name</key>
					<string>VDC to AV/VDCN(DO)</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647593;-117.825269</string>
					<key>value</key>
					<string>16938</string>
					<key>name</key>
					<string>VDCN Stop 2</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647209;-117.829356</string>
					<key>value</key>
					<string>16948</string>
					<key>name</key>
					<string>California Ave. at Arroyo(DO)</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>summer</key>
			<string>1</string>
			<key>centerCoordinate</key>
			<string>33.644482;-117.830901;0.0162872;0.0162872</string>
			<key>lineColor</key>
			<string>255 138 227</string>
			<key>2dLineName</key>
			<string>summer_route2</string>
			<key>selected</key>
			<string>0</string>
			<key>routeName</key>
			<string>Puerta Del Sol Summer</string>
			<key>value</key>
			<string>729</string>
			<key>stops</key>
			<array>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647574;-117.832425</string>
					<key>value</key>
					<string>257425</string>
					<key>name</key>
					<string>N Adobe Circle (S)</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.644306;-117.827876</string>
					<key>value</key>
					<string>256505</string>
					<key>name</key>
					<string>ARC</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647574;-117.832344</string>
					<key>value</key>
					<string>257480</string>
					<key>name</key>
					<string>N Adobe Circle (N)</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.649129;-117.839334</string>
					<key>value</key>
					<string>16958</string>
					<key>name</key>
					<string>University Center</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>summer</key>
			<string>0</string>
			<key>centerCoordinate</key>
			<string>33.645018;-117.838712;0.0162872;0.0162872</string>
			<key>lineColor</key>
			<string>0 134 75</string>
			<key>2dLineName</key>
			<string>main_route</string>
			<key>selected</key>
			<string>0</string>
			<key>routeName</key>
			<string>Main Campus</string>
			<key>value</key>
			<string>176</string>
			<key>stops</key>
			<array>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.649366;-117.839752</string>
					<key>value</key>
					<string>16958</string>
					<key>name</key>
					<string>University Center</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.644704;-117.829303</string>
					<key>value</key>
					<string>44341</string>
					<key>name</key>
					<string>ARC</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.642882;-117.839710</string>
					<key>value</key>
					<string>16829</string>
					<key>name</key>
					<string>Engineering Gateway</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.642480;-117.841791</string>
					<key>value</key>
					<string>16831</string>
					<key>name</key>
					<string>University Hill</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.643177;-117.844280</string>
					<key>value</key>
					<string>16841</string>
					<key>name</key>
					<string>Physical Sciences - Lot 12</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.643757;-117.849140</string>
					<key>value</key>
					<string>16855</string>
					<key>name</key>
					<string>Campus Village</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.646134;-117.848850</string>
					<key>value</key>
					<string>16860</string>
					<key>name</key>
					<string>Cafe Med</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647661;-117.847300</string>
					<key>value</key>
					<string>54898</string>
					<key>name</key>
					<string>Newport Shuttle Transfer</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.648898;-117.844929</string>
					<key>value</key>
					<string>44424</string>
					<key>name</key>
					<string>Humanities&amp;FineArts</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.653109;-117.845444</string>
					<key>value</key>
					<string>53767</string>
					<key>name</key>
					<string>Mesa Court</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647209;-117.829356</string>
					<key>value</key>
					<string>16706</string>
					<key>name</key>
					<string>California Ave. at Arroyo(DO)</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>summer</key>
			<string>0</string>
			<key>centerCoordinate</key>
			<string>33.644482;-117.830901;0.0162872;0.0162872</string>
			<key>lineColor</key>
			<string>251 218 100</string>
			<key>2dLineName</key>
			<string>AV-Admin_ARC</string>
			<key>selected</key>
			<string>0</string>
			<key>routeName</key>
			<string>AV-Admin-ARC</string>
			<key>value</key>
			<string>308</string>
			<key>stops</key>
			<array>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.644308;-117.827822</string>
					<key>value</key>
					<string>256505</string>
					<key>name</key>
					<string>ARC</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647362;-117.828562</string>
					<key>value</key>
					<string>44233</string>
					<key>name</key>
					<string>Entrance to AV</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.646822;-117.825483</string>
					<key>value</key>
					<string>44241</string>
					<key>name</key>
					<string>Arroyo Vista</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.648371;-117.832913</string>
					<key>value</key>
					<string>243297</string>
					<key>name</key>
					<string>Cornell North Side</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.649278;-117.839645</string>
					<key>value</key>
					<string>16958</string>
					<key>name</key>
					<string>University Center</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>summer</key>
			<string>0</string>
			<key>centerCoordinate</key>
			<string>33.644482;-117.830901;0.0162872;0.0162872</string>
			<key>lineColor</key>
			<string>46 99 155</string>
			<key>2dLineName</key>
			<string>VDC-Admin</string>
			<key>selected</key>
			<string>0</string>
			<key>routeName</key>
			<string>VDC-Admin</string>
			<key>value</key>
			<string>530</string>
			<key>stops</key>
			<array>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.649129;-117.839334</string>
					<key>value</key>
					<string>16695</string>
					<key>name</key>
					<string>University Center</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.648209;-117.830118</string>
					<key>value</key>
					<string>16901</string>
					<key>name</key>
					<string>California Ave at Campus</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.646962;-117.824898</string>
					<key>value</key>
					<string>89459</string>
					<key>name</key>
					<string>AV/VDCN to VDC(PU)</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.643711;-117.823831</string>
					<key>value</key>
					<string>16917</string>
					<key>name</key>
					<string>VDC/VDCN (DO)</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.640889;-117.823026</string>
					<key>value</key>
					<string>43338</string>
					<key>name</key>
					<string>VDC STOP 1</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.639201;-117.824062</string>
					<key>value</key>
					<string>43343</string>
					<key>name</key>
					<string>VDC STOP 2</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.638133;-117.825558</string>
					<key>value</key>
					<string>43349</string>
					<key>name</key>
					<string>VDC STOP 3</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.643617;-117.823665</string>
					<key>value</key>
					<string>16932</string>
					<key>name</key>
					<string>VDC/VDCN</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.646927;-117.824668</string>
					<key>value</key>
					<string>89499</string>
					<key>name</key>
					<string>VDC to AV/VDCN(DO)</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647209;-117.829356</string>
					<key>value</key>
					<string>16948</string>
					<key>name</key>
					<string>California Ave. at Arroyo(DO)</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>centerCoordinate</key>
			<string>33.644482;-117.830901;0.0162872;0.0162872</string>
			<key>summer</key>
			<string>0</string>
			<key>lineColor</key>
			<string>235 147 76</string>
			<key>2dLineName</key>
			<string>VDCN-Admin</string>
			<key>selected</key>
			<string>0</string>
			<key>routeName</key>
			<string>VDC Norte</string>
			<key>value</key>
			<string>528</string>
			<key>stops</key>
			<array>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.648428;-117.832822</string>
					<key>value</key>
					<string>256578</string>
					<key>name</key>
					<string>Campus Dr. at Cornel</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.649129;-117.839334</string>
					<key>value</key>
					<string>16958</string>
					<key>name</key>
					<string>University Center</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.643617;-117.823665</string>
					<key>value</key>
					<string>16932</string>
					<key>name</key>
					<string>VDC/VDCN</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.645739;-117.823997</string>
					<key>value</key>
					<string>16935</string>
					<key>name</key>
					<string>VDCN Stop 1</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647593;-117.825269</string>
					<key>value</key>
					<string>16938</string>
					<key>name</key>
					<string>VDCN Stop 2</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647209;-117.829356</string>
					<key>value</key>
					<string>16948</string>
					<key>name</key>
					<string>California Ave. at Arroyo(DO)</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>centerCoordinate</key>
			<string>33.659415;-117.839828;0.0162872;0.0162872</string>
			<key>summer</key>
			<string>0</string>
			<key>lineColor</key>
			<string>221 30 47</string>
			<key>2dLineName</key>
			<string>Parkwest_route</string>
			<key>selected</key>
			<string>0</string>
			<key>routeName</key>
			<string>PW-Carlson</string>
			<key>value</key>
			<string>305</string>
			<key>stops</key>
			<array>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.649059;-117.845197</string>
					<key>value</key>
					<string>43411</string>
					<key>name</key>
					<string>Claire Trevor</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.670835;-117.834522</string>
					<key>value</key>
					<string>52233</string>
					<key>name</key>
					<string>Irvine Shuttle Transfer</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.670420;-117.830713</string>
					<key>value</key>
					<string>43471</string>
					<key>name</key>
					<string>PW 3600 Parkview</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.669331;-117.828026</string>
					<key>value</key>
					<string>43463</string>
					<key>name</key>
					<string>PW 3801 Parkview</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.667656;-117.826100</string>
					<key>value</key>
					<string>43460</string>
					<key>name</key>
					<string>PW 3901 Parkview</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.670153;-117.845879</string>
					<key>value</key>
					<string>143319</string>
					<key>name</key>
					<string>Villa Sienna</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.666403;-117.849312</string>
					<key>value</key>
					<string>143322</string>
					<key>name</key>
					<string>Toscana</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>centerCoordinate</key>
			<string>33.627122;-117.895660;0.0762872;0.0762872</string>
			<key>summer</key>
			<string>0</string>
			<key>lineColor</key>
			<string>4 167 202</string>
			<key>2dLineName</key>
			<string>Newport_route</string>
			<key>selected</key>
			<string>0</string>
			<key>routeName</key>
			<string>Newport</string>
			<key>value</key>
			<string>307</string>
			<key>stops</key>
			<array>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647607;-117.847542</string>
					<key>value</key>
					<string>43622</string>
					<key>name</key>
					<string>CrawfordHall</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.648455;-117.864257</string>
					<key>value</key>
					<string>256867</string>
					<key>name</key>
					<string>Univ. Dr. Baypointe</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.648009;-117.864171</string>
					<key>value</key>
					<string>43896</string>
					<key>name</key>
					<string>Univ. Dr. Bonita</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.630948;-117.875125</string>
					<key>value</key>
					<string>43677</string>
					<key>name</key>
					<string>Jamboree Eastbluff Dr</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.625579;-117.878580</string>
					<key>value</key>
					<string>43866</string>
					<key>name</key>
					<string>Jamboree San Joaquin</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.615896;-117.899882</string>
					<key>value</key>
					<string>43714</string>
					<key>name</key>
					<string>PCHighway Bayside Dr. E</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.616427;-117.901529</string>
					<key>value</key>
					<string>43838</string>
					<key>name</key>
					<string>PCHighway Bayside Dr. W</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.616284;-117.914275</string>
					<key>value</key>
					<string>43817</string>
					<key>name</key>
					<string>PCHighway BoyScouts W</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.617231;-117.918738</string>
					<key>value</key>
					<string>43730</string>
					<key>name</key>
					<string>PCHighway BoyScouts E</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.621533;-117.933952</string>
					<key>value</key>
					<string>43801</string>
					<key>name</key>
					<string>PCHighway Hoag Dr.</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.621556;-117.938522</string>
					<key>value</key>
					<string>44083</string>
					<key>name</key>
					<string>Balboa Blvd. at 46th st</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.619528;-117.936634</string>
					<key>value</key>
					<string>43790</string>
					<key>name</key>
					<string>Balboa Blvd. at 41th st</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.617750;-117.935051</string>
					<key>value</key>
					<string>43786</string>
					<key>name</key>
					<string>Balboa Blvd. at 38th st</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.615034;-117.932535</string>
					<key>value</key>
					<string>43780</string>
					<key>name</key>
					<string>Balboa Blvd. at 32nd st</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.610620;-117.928914</string>
					<key>value</key>
					<string>43770</string>
					<key>name</key>
					<string>Balboa Blvd. at 23rd st</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>centerCoordinate</key>
			<string>33.648403;-117.831545;0.0162872;0.0162872</string>
			<key>summer</key>
			<string>0</string>
			<key>lineColor</key>
			<string>122 88 167</string>
			<key>2dLineName</key>
			<string>Camino</string>
			<key>selected</key>
			<string>0</string>
			<key>routeName</key>
			<string>Camino Del Sol</string>
			<key>value</key>
			<string>527</string>
			<key>stops</key>
			<array>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.648125;-117.830150</string>
					<key>value</key>
					<string>16901</string>
					<key>name</key>
					<string>California Ave at Campus</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647017;-117.825043</string>
					<key>value</key>
					<string>16911</string>
					<key>name</key>
					<string>VDCN Drop-Off</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.645267;-117.823820</string>
					<key>value</key>
					<string>175877</string>
					<key>name</key>
					<string>Camino Del Sol</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.643489;-117.823863</string>
					<key>value</key>
					<string>16917</string>
					<key>name</key>
					<string>VDC/VDCN DO</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.648428;-117.832822</string>
					<key>value</key>
					<string>256578</string>
					<key>name</key>
					<string>Campus Dr. at Cornel</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.649411;-117.839795</string>
					<key>value</key>
					<string>16958</string>
					<key>name</key>
					<string>University Center</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>summer</key>
			<string>0</string>
			<key>centerCoordinate</key>
			<string>33.644482;-117.830901;0.0162872;0.0162872</string>
			<key>lineColor</key>
			<string>35 35 35</string>
			<key>2dLineName</key>
			<string>VDC-Admin</string>
			<key>selected</key>
			<string>0</string>
			<key>routeName</key>
			<string>Night and Friday</string>
			<key>value</key>
			<string>317</string>
			<key>stops</key>
			<array>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.649129;-117.839334</string>
					<key>value</key>
					<string>16695</string>
					<key>name</key>
					<string>University Center</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.643711;-117.823831</string>
					<key>value</key>
					<string>16917</string>
					<key>name</key>
					<string>VDC/VDCN (DO)</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.640889;-117.823026</string>
					<key>value</key>
					<string>43338</string>
					<key>name</key>
					<string>VDC STOP 1</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.639201;-117.824062</string>
					<key>value</key>
					<string>43343</string>
					<key>name</key>
					<string>VDC STOP 2</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.638133;-117.825558</string>
					<key>value</key>
					<string>43349</string>
					<key>name</key>
					<string>VDC STOP 3</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.643617;-117.823665</string>
					<key>value</key>
					<string>16932</string>
					<key>name</key>
					<string>VDC/VDCN</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647209;-117.829356</string>
					<key>value</key>
					<string>16948</string>
					<key>name</key>
					<string>California Ave. at Arroyo(DO)</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.645739;-117.823997</string>
					<key>value</key>
					<string>16935</string>
					<key>name</key>
					<string>VDCN Stop 1</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647593;-117.825269</string>
					<key>value</key>
					<string>16938</string>
					<key>name</key>
					<string>VDCN Stop 2</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.645267;-117.823820</string>
					<key>value</key>
					<string>175877</string>
					<key>name</key>
					<string>Camino Del Sol</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.648428;-117.832822</string>
					<key>value</key>
					<string>268896</string>
					<key>name</key>
					<string>Campus Dr. at Cornel</string>
				</dict>
				<dict>
					<key>estimate</key>
					<string></string>
					<key>coordinate</key>
					<string>33.647017;-117.825043</string>
					<key>value</key>
					<string>16911</string>
					<key>name</key>
					<string>VDCN Drop-Off</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
